<form id="blog" class="saveForm">
	<input  type="hidden" id="blog_id" name="blog_id"/>
	<label class="lbl-control">Başlık </label>
	<input class="form-control"  type="text" id="title" name="title"/>
	<label class="lbl-control">İçerik</label>
	<textarea class="form-control" id="content" name="content" cols="20" rows="25"></textarea><br>
	<label class="lbl-control">Kategori Seçiniz</label>
	<select name ="category_id" id="category_id" >
	</select><br>
	<input class="btn btn-default btn-md" type="submit" value="Kaydet"/><br>
	<label class="lbl-control">Etiket Alanı</label>
	<textarea class="form-control" id="tags" name="tags" cols="10" rows="5"></textarea>
</form>