<form id="user" class="saveForm">
	<input  type="hidden" id="user_id" name="user_id"/>
	<label class="lbl-control">İsim </label>
	<input class="form-control" type="text" id="name" name="name"/>
	<label class="lbl-control">Soyisim</label>
	<input class="form-control" type="text" id="surname" name="surname"/>
	<label class="lbl-control">E-Mail</label>
	<input class="form-control" type="email" id="email" name="email"/>
	<label class="lbl-control">Şifre</label>
	<input class="form-control" type="text" id="pass" name="pass"/><br>
	<input class="btn btn-default btn-md" type="submit" value="Kaydet"/>
</form>